
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:ital,wght@0,400;1,300&family=Lobster&family=Lugrasimo&family=Playfair+Display:ital,wght@0,700;1,400&family=Ubuntu:ital,wght@1,400;1,500&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  /* background-color: rgb(140, 247, 247); */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* min-height: 40vh; */
  /* background: #000; */
  background-image: url(component/backgroundimage.webp);
   
}
.form{
  /* font-family: 'Lobster', cursive; */
  
  background-color:rgb(9, 9, 9);
  justify-content: center;
   align-items: center;
    
    margin-left: 38%;
 margin-right: 0%;
  padding: 5%;
  border-radius: 20%;
  color:rgb(53, 249, 49);
  border-color:rgb(6, 6, 6) ; 
  border-width: 0.1cm;
  border-style: solid;
  box-shadow: 14px 14px 20px #04ed2b8c;
  position:absolute; 
  
 }
 nav{
margin: 0px;
padding: 0px;
color:green;
 /* background-color: red; 
 display: flex;
 flex-direction: column; */
}

.button1{
color:rgb(7, 198, 10);
background: rgb(3, 3, 3);
margin-top: 10%;
padding: 5%;
border-radius: 20%;
border-color: rgb(7, 198, 10);

box-shadow:2px 2px 20px #04ed2b8c;
}
img{
  padding-bottom:0px;
  height: 80px;
  margin:1%;
}
#list{
  color:rgb(58, 240, 12);
  
  display: grid;
  grid-template-columns:auto auto auto auto auto auto;
  gap:10px;
  
  padding:20px;
  margin-top:26%;
 position:absloute;
 }
 #listdata{
  border-width: 0.2%;
  border-style: solid;
  border-color:rgb(114, 247, 6);
  background-color: #000; 
  
 } 
#main1{
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  
   /* background-color: aliceblue;  */
    margin-left: 40%; 
   margin-right: 20%; 
   padding:50px;
   position:absolute;
   
   color:rgb(59, 243, 8);
   
   border-width: 0.1cm;
   /* border-style: dotted; */
   box-shadow:2px 2px 20px #03d0368c ;
   /* background:blur; */
  
   background: linear-gradient(to right bottom,rgb(19, 42, 1) 50%,rgb(7, 76, 3) 50%,black 50%, black 50%);
   opacity:10px;
   backdrop-filter: blur(30px);
  
} 
.input{
  /* background:black; */
  padding:12px;
  border-radius: 20%;
  backdrop-filter: blur(30px);

}
.image1{
  margin-right:90%;
  padding:0;
}
@media all and (max-width:700px){
#list{
  display:flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 110%;
}
#main1{
  padding:15px;
  margin-left:25%

}
}
 /* @media all and (max-width:1024px){
  #list{
   
    margin-top: 50%;
  }
  #main1{
    padding:15px;
    margin-left:25%
  
  }
  
  }  */
  .mainfeedback{
    justify-content: center;
    align-items: center;
    
     /* background-color: aliceblue;  */
      margin-left: 30%; 
     margin-right: 30%; 
     padding:70px;
     position:absolute;
     
     color:rgb(59, 243, 8);
     
     border-width: 0.1cm;
     /* border-style: dotted; */
     box-shadow:2px 2px 20px #03d0368c ;
     /* background:blur; */
    
     background: linear-gradient(to right bottom,rgb(19, 42, 1) 50%,rgb(7, 76, 3) 50%,black 50%, black 50%);
     opacity:10px;
     backdrop-filter: blur(30px);
    
  }
  .headingtext{
align-items: center;
justify-content: center;
margin-left: 30%;
margin-right: 30%;
margin-bottom: 1%;
  }
  .button2{
    color:rgb(7, 198, 10);
    background: rgb(3, 3, 3);
    margin-top: 10%;
    margin-left: 2%;
    padding: 5%;
    border-radius: 20%;
    border-color: rgb(7, 198, 10);
    
    box-shadow:2px 2px 20px #04ed2b8c;
    
    }
    .coursemain{
      display: grid;
      grid-template-columns:auto auto auto auto auto auto;
      gap:1%
    }
    .mainhome{
      display: grid;
      grid-template-columns:auto auto auto auto auto auto;
      gap:1%
    }
    .videotext{
      
      padding:3px;
      color:wheat;
      
    }
    .homemain1{
      display: flex;
      align-items:center;
      justify-content: center;
      font-family: 'Lobster', cursive;
    }
    .homemain2{
      display: flex;
      align-items:center;
      justify-content: center;
      font-family: 'Lobster', cursive;
    }
    .homemain{
     border-width: 0.2cm;
     /* border-style: solid; */
     backdrop-filter:blur(5px) ;
     padding:3px;
     box-shadow:2px 2px 20px #03d0368c ;
    }
     @media all and (max-width:1024px){
 .mainhome{
  display: flex;
  flex-direction: column;
 }
  iframe{
    height: 300px;
    width:300px
  }
  .coursemain{
    display: flex;
  flex-direction: column;
  /* margin-bottom:5%;
  border: 1px solid blue;
    box-sizing: border-box;
  */
  
  }
  .card{
    margin-bottom: 5px;
  }
  }
  #front1{
    font-family: 'Lobster', cursive;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white
  }
  #front2{
    font-family: 'Lobster', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
  }
  .para{
    color:white;
    margin-left: 20%;
    margin-right: 20%;
  }
  .happy{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top: 4%;
    font-family: 'Lobster', cursive;
  }
  
  .btn-text-center{
    text-align: center;	
    margin-top: 3%;
    
  }
  .coursetext{
    font-family: 'Lobster', cursive;
  }